.main{
  width:100%;
background-color:orange;
display:flex;
flex-direction:row;
}
.left{
  width:30%;
  background-color:blue;
border:5px solid #000;
margin:5px;
padding:50px;
}
/* background-image:url() */
.right{
  width:70%;
  background-color: #666;
  border:5px solid #000;

}
#name{
  color:green;
}
.left img{
  width:50%
  border-radius: 50px;
  border:5px solid #c454;
}
/* @media query(1024,1280,768,480)
1280-1024:desktop
1024-768:tablet(landscape)
768-480:tablet
480:mobile(or)smaller device
*/
/*@media screen and (min-width:425px){
}*/
@media all and (min-width:1024) and (max-width:1200){
  .main{
    display:flex;
    flex-direction:row;
    width:100%
  }
  .left{
    width:100%;
    background-color: #985;

  }
  .right{
    width:75%;
    background-color:#5436;
  }






}
@media all and (min-width:768) and (max-width:1024){




  .main{
    display:flex;
    flex-direction:column;
    width:100%
  }
  .left{
    width:100%;
    background-color: #985;

  }
  .right{
    width:75%;
    background-color:#5436;
  }





}
@media all and (min-width:480px) and (max-width:768px){
  .main{
    display:flex;
    flex-direction:column;
    width:100%
  }
  .left{
    width:100%;
    background-color: #985;

  }
  .right{
    width:75%;
    background-color:#blue;
  }
  @media all and (max-width:480px){
    .main{
      display:flex;
      flex-direction:column;
      width:100%
    }
    .left{
      width:100%;
      background-color: #yellow;

    }
    .right{
      width:75%;
      background-color:#5436;
    }

}
